In [54]:
import pandas as pd
df =pd.read_excel("Data_set.xlsx") # df data frame

# A DataFrame in Python, particularly when using the Pandas library, is a two-dimensional, size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns).
print(df)

       Name  Age    Country                                   Skills
0     Alice   25        USA                        Python, Java, C++
1    Fatima   30     Canada                    JavaScript, HTML, CSS
2     Aisha   35        USA                          Python, C#, SQL
3    Zainab   40     Canada                             Java, C++, C
4      Amir   28        USA                    JavaScript, HTML, CSS
5     Frank   22         UK  Python, Machine Learning, Deep Learning
6     Grace   32  Australia                Data Analysis, SQL, Excel
7     Henry   45    Germany                 C, C++, Embedded Systems
8  Isabella   27     France         Python, Data Science, Statistics
9      Jack   38      Spain               JavaScript, React, Node.js

In [55]:
#head function give me first 5 rows 
print(df.head())

     Name  Age Country                 Skills
0   Alice   25     USA      Python, Java, C++
1  Fatima   30  Canada  JavaScript, HTML, CSS
2   Aisha   35     USA        Python, C#, SQL
3  Zainab   40  Canada           Java, C++, C
4    Amir   28     USA  JavaScript, HTML, CSS

In [56]:
#Tail function give me last 5 rows 
print(df.tail())

       Name  Age    Country                                   Skills
5     Frank   22         UK  Python, Machine Learning, Deep Learning
6     Grace   32  Australia                Data Analysis, SQL, Excel
7     Henry   45    Germany                 C, C++, Embedded Systems
8  Isabella   27     France         Python, Data Science, Statistics
9      Jack   38      Spain               JavaScript, React, Node.js

In [57]:
#Shap give us dimensions as a tuples
print(df.shape)

(10, 4)

In [58]:
print(df.columns)

Index(['Name', 'Age', 'Country', 'Skills'], dtype='object')

In [59]:
#It give us types of the columns 
print(df.dtypes)

Name       object
Age         int64
Country    object
Skills     object
dtype: object

In [60]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     10 non-null     object
 1   Age      10 non-null     int64
 2   Country  10 non-null     object
 3   Skills   10 non-null     object
dtypes: int64(1), object(3)
memory usage: 448.0+ bytes
None

In [61]:
print(df.describe)

<bound method NDFrame.describe of        Name  Age    Country                                   Skills
0     Alice   25        USA                        Python, Java, C++
1    Fatima   30     Canada                    JavaScript, HTML, CSS
2     Aisha   35        USA                          Python, C#, SQL
3    Zainab   40     Canada                             Java, C++, C
4      Amir   28        USA                    JavaScript, HTML, CSS
5     Frank   22         UK  Python, Machine Learning, Deep Learning
6     Grace   32  Australia                Data Analysis, SQL, Excel
7     Henry   45    Germany                 C, C++, Embedded Systems
8  Isabella   27     France         Python, Data Science, Statistics
9      Jack   38      Spain               JavaScript, React, Node.js>

In [62]:
print(df["Name"])

0       Alice
1      Fatima
2       Aisha
3      Zainab
4        Amir
5       Frank
6       Grace
7       Henry
8    Isabella
9        Jack
Name: Name, dtype: object

In [63]:
print(df[["Name","Age"]])

       Name  Age
0     Alice   25
1    Fatima   30
2     Aisha   35
3    Zainab   40
4      Amir   28
5     Frank   22
6     Grace   32
7     Henry   45
8  Isabella   27
9      Jack   38

In [64]:
#Accessing the columns values using index requires 2 [] paranthesis for more the 1 columns
print(df[["Name","Age","Country"]])

       Name  Age    Country
0     Alice   25        USA
1    Fatima   30     Canada
2     Aisha   35        USA
3    Zainab   40     Canada
4      Amir   28        USA
5     Frank   22         UK
6     Grace   32  Australia
7     Henry   45    Germany
8  Isabella   27     France
9      Jack   38      Spain

In [65]:
#For string value the min and max work according to their index
print(df["Name"].min())

Aisha

In [66]:
#Head function can also be used to call specific rows of data from data set by providing number of rows and paranthesis
print(df.head(1))

    Name  Age Country             Skills
0  Alice   25     USA  Python, Java, C++

In [67]:
print(df.tail(9))#same as head but from botton

       Name  Age    Country                                   Skills
1    Fatima   30     Canada                    JavaScript, HTML, CSS
2     Aisha   35        USA                          Python, C#, SQL
3    Zainab   40     Canada                             Java, C++, C
4      Amir   28        USA                    JavaScript, HTML, CSS
5     Frank   22         UK  Python, Machine Learning, Deep Learning
6     Grace   32  Australia                Data Analysis, SQL, Excel
7     Henry   45    Germany                 C, C++, Embedded Systems
8  Isabella   27     France         Python, Data Science, Statistics
9      Jack   38      Spain               JavaScript, React, Node.js

In [68]:
print(df["Name"].head(3))

0     Alice
1    Fatima
2     Aisha
Name: Name, dtype: object

In [69]:
print(df["Age"].describe)

<bound method NDFrame.describe of 0    25
1    30
2    35
3    40
4    28
5    22
6    32
7    45
8    27
9    38
Name: Age, dtype: int64>

In [70]:
print(df["Age"].mean())

32.2

In [71]:
col=df.columns
print(col)

Index(['Name', 'Age', 'Country', 'Skills'], dtype='object')

In [72]:
value=(df["Age"])
print(value)

0    25
1    30
2    35
3    40
4    28
5    22
6    32
7    45
8    27
9    38
Name: Age, dtype: int64

In [73]:
import pandas as pd
import numpy as np
import csv

My_csv_file="CSV_file.csv"

df_excel=pd.read_excel("Data_set.xlsx")

print(df_excel)
df_excel.to_csv(My_csv_file)

       Name  Age    Country                                   Skills
0     Alice   25        USA                        Python, Java, C++
1    Fatima   30     Canada                    JavaScript, HTML, CSS
2     Aisha   35        USA                          Python, C#, SQL
3    Zainab   40     Canada                             Java, C++, C
4      Amir   28        USA                    JavaScript, HTML, CSS
5     Frank   22         UK  Python, Machine Learning, Deep Learning
6     Grace   32  Australia                Data Analysis, SQL, Excel
7     Henry   45    Germany                 C, C++, Embedded Systems
8  Isabella   27     France         Python, Data Science, Statistics
9      Jack   38      Spain               JavaScript, React, Node.js

In [74]:
DF_numpy=pd.DataFrame(np.random.randint(1,10,(4,4)),columns=['Num1','Num2','Num3','Num4'],index=None)
print(DF_numpy)

   Num1  Num2  Num3  Num4
0     1     1     1     6
1     1     1     6     1
2     3     6     4     2
3     9     6     1     9

In [75]:
selecting_rows=df_excel[(df_excel['Name'].begin=='Alice') & (df_excel['Age'] > 26)]
print(selecting_rows)

AttributeError: 'Series' object has no attribute 'begin'

In [33]:
First_rows=df_excel.head(7)
print(First_rows)

      Name  Age    Country                                   Skills
0    Alice   25        USA                        Python, Java, C++
1    Alice   30     Canada                    JavaScript, HTML, CSS
2  Charlie   35        USA                          Python, C#, SQL
3    David   40     Canada                             Java, C++, C
4      Eve   28        USA                    JavaScript, HTML, CSS
5    Frank   22         UK  Python, Machine Learning, Deep Learning
6    Grace   32  Australia                Data Analysis, SQL, Excel

In [36]:
#filtering
US_walay=df_excel[(df_excel['Country']=='USA')]
print(US_walay)

      Name  Age Country                 Skills
0    Alice   25     USA      Python, Java, C++
2  Charlie   35     USA        Python, C#, SQL
4      Eve   28     USA  JavaScript, HTML, CSS

In [80]:
new_column=df_excel['Country']
# print(new_column)
df_excel['new']=12
# print(df_excel)
Emotions='Emotion.csv'

df_Emotions=pd.read_csv(Emotions)

# print(df_Emotions)

merged=df_excel.merge(df_Emotions,on='Name')

# print(merged)


#concatenation
concatenation=pd.concat([df_Emotions,df_excel])
print(concatenation)

df_excel['Age'].mean()

   Unnamed: 0      Name  Happiness  Sadness  Anger  Surprise  Disgust  Love  \
0         0.0     Aisha        8.0      2.0    1.0       6.0      2.0   9.0
1         1.0    Fatima        6.0      4.0    3.0       8.0      1.0   7.0
2         2.0    Zainab        7.0      3.0    2.0       7.0      3.0   8.0
3         3.0      Amir        5.0      5.0    4.0       5.0      4.0   6.0
4         4.0      Omar        9.0      1.0    2.0       9.0      2.0  10.0
5         5.0       Ali        4.0      6.0    5.0       4.0      3.0   5.0
6         6.0    Hassan        6.0      4.0    3.0       6.0      1.0   7.0
7         7.0     Layla        8.0      2.0    1.0       7.0      2.0   9.0
8         8.0      Sara        5.0      5.0    2.0       8.0      4.0   6.0
9         9.0     Bilal        7.0      3.0    4.0       5.0      3.0   8.0
0         NaN     Alice        NaN      NaN    NaN       NaN      NaN   NaN
1         NaN    Fatima        NaN      NaN    NaN       NaN      NaN   NaN
2         NaN     Aisha        NaN      NaN    NaN       NaN      NaN   NaN
3         NaN    Zainab        NaN      NaN    NaN       NaN      NaN   NaN
4         NaN      Amir        NaN      NaN    NaN       NaN      NaN   NaN
5         NaN     Frank        NaN      NaN    NaN       NaN      NaN   NaN
6         NaN     Grace        NaN      NaN    NaN       NaN      NaN   NaN
7         NaN     Henry        NaN      NaN    NaN       NaN      NaN   NaN
8         NaN  Isabella        NaN      NaN    NaN       NaN      NaN   NaN
9         NaN      Jack        NaN      NaN    NaN       NaN      NaN   NaN

    Age    Country                                   Skills   new
0   NaN        NaN                                      NaN   NaN
1   NaN        NaN                                      NaN   NaN
2   NaN        NaN                                      NaN   NaN
3   NaN        NaN                                      NaN   NaN
4   NaN        NaN                                      NaN   NaN
5   NaN        NaN                                      NaN   NaN
6   NaN        NaN                                      NaN   NaN
7   NaN        NaN                                      NaN   NaN
8   NaN        NaN                                      NaN   NaN
9   NaN        NaN                                      NaN   NaN
0  25.0        USA                        Python, Java, C++  12.0
1  30.0     Canada                    JavaScript, HTML, CSS  12.0
2  35.0        USA                          Python, C#, SQL  12.0
3  40.0     Canada                             Java, C++, C  12.0
4  28.0        USA                    JavaScript, HTML, CSS  12.0
5  22.0         UK  Python, Machine Learning, Deep Learning  12.0
6  32.0  Australia                Data Analysis, SQL, Excel  12.0
7  45.0    Germany                 C, C++, Embedded Systems  12.0
8  27.0     France         Python, Data Science, Statistics  12.0
9  38.0      Spain               JavaScript, React, Node.js  12.0

32.2

In [ ]:
import os