#  LEARNING PANDAS : PROGRAMMING FOR AI : ENGR.MUHAMMAD UMER HARðŸ˜ŠðŸ˜œN

### MAKING A DATA FRAME FROM NUMPY

In [2]:
import pandas as pd 
import numpy as np

n_array = np.array([[1,2,3],[11,22,33],[111,222,333]])

df = pd.DataFrame(n_array)

print(df)

     0    1    2
0    1    2    3
1   11   22   33
2  111  222  333

___
### HOW TO READ DIFFERENT FILES INTO DATA FRAME :)

In [2]:
df_json = pd.read_json('https://jsonplaceholder.typicode.com/users')
print(df_json.head(2))

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [3]:
df_csv = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv')

print(df_csv.tail())

       country  year         pop continent  lifeExp   gdpPercap
1699  Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700  Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701  Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702  Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

try out : df = pd.read_html('.....................')

df = pd.read_sql('SELECT * FROM table_name', conn)  WILL TEACH THIS INSHALLAH

df = pd.read_parquet('data.parquet')

df = pd.read_feather('data.feather')

df = pd.read_hdf('data.h5', 'table_name')

df = pd.read_stata('data.dta')

df = pd.read_sas('data.sas7bdat')

df = pd.read_orc('data.orc')

## MAKING DF FROM COPIED DATA , CLIPBOARD ðŸ§·

In [ ]:
#will  work only work when some tabular data is copied from web source , doc or excel
#e.g i copied table from https://www.islamicfinder.org/world/pakistan/
copied_df= pd.read_clipboard()
print(copied_df)

### lets filter and get data of Pakistan only from above data frame

Boolean Indexing:
This method uses a condition inside square brackets to filter the DataFrame.

In [7]:
Pakistan_data = df_csv[df_csv['country'] == 'Pakistan']
print(Pakistan_data)

       country  year          pop continent  lifeExp    gdpPercap
1164  Pakistan  1952   41346560.0      Asia   43.436   684.597144
1165  Pakistan  1957   46679944.0      Asia   45.557   747.083529
1166  Pakistan  1962   53100671.0      Asia   47.670   803.342742
1167  Pakistan  1967   60641899.0      Asia   49.800   942.408259
1168  Pakistan  1972   69325921.0      Asia   51.929  1049.938981
1169  Pakistan  1977   78152686.0      Asia   54.043  1175.921193
1170  Pakistan  1982   91462088.0      Asia   56.158  1443.429832
1171  Pakistan  1987  105186881.0      Asia   58.245  1704.686583
1172  Pakistan  1992  120065004.0      Asia   60.838  1971.829464
1173  Pakistan  1997  135564834.0      Asia   61.818  2049.350521
1174  Pakistan  2002  153403524.0      Asia   63.610  2092.712441
1175  Pakistan  2007  169270617.0      Asia   65.483  2605.947580

Query Method:
The query() method allows you to filter using a string expression.

In [8]:
Pakistan_data_query = df_csv.query('country == "Pakistan"')
print(Pakistan_data_query)

       country  year          pop continent  lifeExp    gdpPercap
1164  Pakistan  1952   41346560.0      Asia   43.436   684.597144
1165  Pakistan  1957   46679944.0      Asia   45.557   747.083529
1166  Pakistan  1962   53100671.0      Asia   47.670   803.342742
1167  Pakistan  1967   60641899.0      Asia   49.800   942.408259
1168  Pakistan  1972   69325921.0      Asia   51.929  1049.938981
1169  Pakistan  1977   78152686.0      Asia   54.043  1175.921193
1170  Pakistan  1982   91462088.0      Asia   56.158  1443.429832
1171  Pakistan  1987  105186881.0      Asia   58.245  1704.686583
1172  Pakistan  1992  120065004.0      Asia   60.838  1971.829464
1173  Pakistan  1997  135564834.0      Asia   61.818  2049.350521
1174  Pakistan  2002  153403524.0      Asia   63.610  2092.712441
1175  Pakistan  2007  169270617.0      Asia   65.483  2605.947580

Using loc:
The loc accessor is used to access a group of rows and columns by labels or a boolean array.

In [9]:
Pakistan_data_loc = df_csv.loc[df_csv['country'] == 'Pakistan']
print(Pakistan_data_loc)

       country  year          pop continent  lifeExp    gdpPercap
1164  Pakistan  1952   41346560.0      Asia   43.436   684.597144
1165  Pakistan  1957   46679944.0      Asia   45.557   747.083529
1166  Pakistan  1962   53100671.0      Asia   47.670   803.342742
1167  Pakistan  1967   60641899.0      Asia   49.800   942.408259
1168  Pakistan  1972   69325921.0      Asia   51.929  1049.938981
1169  Pakistan  1977   78152686.0      Asia   54.043  1175.921193
1170  Pakistan  1982   91462088.0      Asia   56.158  1443.429832
1171  Pakistan  1987  105186881.0      Asia   58.245  1704.686583
1172  Pakistan  1992  120065004.0      Asia   60.838  1971.829464
1173  Pakistan  1997  135564834.0      Asia   61.818  2049.350521
1174  Pakistan  2002  153403524.0      Asia   63.610  2092.712441
1175  Pakistan  2007  169270617.0      Asia   65.483  2605.947580

## MAKING SMALL DATA FRAME OUT OF LARGE DATA FRAME

In [10]:
# lets bring your data back :)
import pandas as pd
df_temp =pd.read_excel("ai_batch_23.xlsx") # df data frame
print(df_temp)
#first make a specifc data frame with selected columns
df_ai = df_temp.iloc[:, [2, 6,17]]
print(df_ai)

FileNotFoundError: [Errno 2] No such file or directory: 'ai_batch_23.xlsx'

## RENAME COLUMN NAME TO OOP

In [5]:
df_ai.rename(columns={'Object Oriented Programming-CS1004': 'OOP'}, inplace=True)
print(df_ai)

                 Name  CGPA OOP
0       Ahmed Lashari  3.10   A
1        Nashwa Rahim  3.46   A
2        Faakhir Abid  2.99  A-
3     Muhammad Haseeb  3.42  A-
4     Munazzah Fatima  2.95   I
5         Shoaib Khan  2.62   I
6        Hussain Shah  2.38  B-
7         Hassan Shah  2.44  B-
8       Umama Taimoor  3.51   I
9        Muskan Nasir  2.33   I
10     Muhammad Osama  1.29   -
11       Fatiqa Munir  2.08   I
12        Yawar Lodhi  1.94   C
13         Sayil Raza  1.91  D+
14        Daniyal Ali  1.60   -
15        Fatima Khan  3.43  A-
16           Eman Ali  2.64   I
17      Haider Sheikh  1.20   -
18       Shaheer Khan  2.31   I
19     Ismail Mohmand  3.44  A+
20        Mohid Zahid  1.54   -
21         Naeem Khan  2.74  B-
22      Jibran Khalil  2.52   A
23          Mujeeb Ur  2.86   I
24     Usama Sikandar  2.56   I
25      Rayan Hussain  2.28  C+
26     Muhammad Awais  1.61   -
27       Hamza Sajjad  2.13  C-
28          Arsam Ali  3.10  C+
29    Muhammad Tayyab  2.52   I
30          Aamir Ali  1.25   -
31         Hamid Khan  1.56   -
32     Muhammad Abbas  2.05   I
33          Ali Irfan  2.15   I
34        Maryam Amin  2.05  C+
35       Sohail Ahmad  2.43   I
36  Muhammad Abdullah  1.97   -
37      Mehtab Hashmi  1.34   I
38     Ghulam Murtaza  2.07   D
39        Bilal Ahmad  3.29  B-
40            Saif Ur  2.73   I
41             Raqeeb  3.51   A
42          Ahmad Jan  2.32   B
43          Asaf Khan  3.34  B+
44       Talha Zaheer  0.00   I

C:\Users\Umer Haroon\AppData\Local\Temp\ipykernel_2368\4279560920.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ai.rename(columns={'Object Oriented Programming-CS1004': 'OOP'}, inplace=True)

<span color="green">How to rename all columns at once ?</span>

### how to replace a value with some other value in column

In [6]:
#lets replace I from OOP column to pending
#df_ai.loc[df_ai['OOP'] == 'I', 'OOP'] = 'pending'
#print(df_ai)

df_ai['OOP'] = df_ai['OOP'].replace('I', 'pending')
print(df_ai)

                 Name  CGPA      OOP
0       Ahmed Lashari  3.10        A
1        Nashwa Rahim  3.46        A
2        Faakhir Abid  2.99       A-
3     Muhammad Haseeb  3.42       A-
4     Munazzah Fatima  2.95  pending
5         Shoaib Khan  2.62  pending
6        Hussain Shah  2.38       B-
7         Hassan Shah  2.44       B-
8       Umama Taimoor  3.51  pending
9        Muskan Nasir  2.33  pending
10     Muhammad Osama  1.29        -
11       Fatiqa Munir  2.08  pending
12        Yawar Lodhi  1.94        C
13         Sayil Raza  1.91       D+
14        Daniyal Ali  1.60        -
15        Fatima Khan  3.43       A-
16           Eman Ali  2.64  pending
17      Haider Sheikh  1.20        -
18       Shaheer Khan  2.31  pending
19     Ismail Mohmand  3.44       A+
20        Mohid Zahid  1.54        -
21         Naeem Khan  2.74       B-
22      Jibran Khalil  2.52        A
23          Mujeeb Ur  2.86  pending
24     Usama Sikandar  2.56  pending
25      Rayan Hussain  2.28       C+
26     Muhammad Awais  1.61        -
27       Hamza Sajjad  2.13       C-
28          Arsam Ali  3.10       C+
29    Muhammad Tayyab  2.52  pending
30          Aamir Ali  1.25        -
31         Hamid Khan  1.56        -
32     Muhammad Abbas  2.05  pending
33          Ali Irfan  2.15  pending
34        Maryam Amin  2.05       C+
35       Sohail Ahmad  2.43  pending
36  Muhammad Abdullah  1.97        -
37      Mehtab Hashmi  1.34  pending
38     Ghulam Murtaza  2.07        D
39        Bilal Ahmad  3.29       B-
40            Saif Ur  2.73  pending
41             Raqeeb  3.51        A
42          Ahmad Jan  2.32        B
43          Asaf Khan  3.34       B+
44       Talha Zaheer  0.00  pending

C:\Users\Umer Haroon\AppData\Local\Temp\ipykernel_2368\3547983048.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ai['OOP'] = df_ai['OOP'].replace('I', 'pending')

### changing case of columns name

In [7]:
df_ai.columns = df_ai.columns.str.lower()  # same goes for upper
print(df_ai)

                 name  cgpa      oop
0       Ahmed Lashari  3.10        A
1        Nashwa Rahim  3.46        A
2        Faakhir Abid  2.99       A-
3     Muhammad Haseeb  3.42       A-
4     Munazzah Fatima  2.95  pending
5         Shoaib Khan  2.62  pending
6        Hussain Shah  2.38       B-
7         Hassan Shah  2.44       B-
8       Umama Taimoor  3.51  pending
9        Muskan Nasir  2.33  pending
10     Muhammad Osama  1.29        -
11       Fatiqa Munir  2.08  pending
12        Yawar Lodhi  1.94        C
13         Sayil Raza  1.91       D+
14        Daniyal Ali  1.60        -
15        Fatima Khan  3.43       A-
16           Eman Ali  2.64  pending
17      Haider Sheikh  1.20        -
18       Shaheer Khan  2.31  pending
19     Ismail Mohmand  3.44       A+
20        Mohid Zahid  1.54        -
21         Naeem Khan  2.74       B-
22      Jibran Khalil  2.52        A
23          Mujeeb Ur  2.86  pending
24     Usama Sikandar  2.56  pending
25      Rayan Hussain  2.28       C+
26     Muhammad Awais  1.61        -
27       Hamza Sajjad  2.13       C-
28          Arsam Ali  3.10       C+
29    Muhammad Tayyab  2.52  pending
30          Aamir Ali  1.25        -
31         Hamid Khan  1.56        -
32     Muhammad Abbas  2.05  pending
33          Ali Irfan  2.15  pending
34        Maryam Amin  2.05       C+
35       Sohail Ahmad  2.43  pending
36  Muhammad Abdullah  1.97        -
37      Mehtab Hashmi  1.34  pending
38     Ghulam Murtaza  2.07        D
39        Bilal Ahmad  3.29       B-
40            Saif Ur  2.73  pending
41             Raqeeb  3.51        A
42          Ahmad Jan  2.32        B
43          Asaf Khan  3.34       B+
44       Talha Zaheer  0.00  pending

what does it do ? #  df_ai.columns.str.title()

### adding something to start of column names

In [8]:
df_ai =df_ai.add_prefix('pai_')
print(df_ai)

             pai_name  pai_cgpa  pai_oop
0       Ahmed Lashari      3.10        A
1        Nashwa Rahim      3.46        A
2        Faakhir Abid      2.99       A-
3     Muhammad Haseeb      3.42       A-
4     Munazzah Fatima      2.95  pending
5         Shoaib Khan      2.62  pending
6        Hussain Shah      2.38       B-
7         Hassan Shah      2.44       B-
8       Umama Taimoor      3.51  pending
9        Muskan Nasir      2.33  pending
10     Muhammad Osama      1.29        -
11       Fatiqa Munir      2.08  pending
12        Yawar Lodhi      1.94        C
13         Sayil Raza      1.91       D+
14        Daniyal Ali      1.60        -
15        Fatima Khan      3.43       A-
16           Eman Ali      2.64  pending
17      Haider Sheikh      1.20        -
18       Shaheer Khan      2.31  pending
19     Ismail Mohmand      3.44       A+
20        Mohid Zahid      1.54        -
21         Naeem Khan      2.74       B-
22      Jibran Khalil      2.52        A
23          Mujeeb Ur      2.86  pending
24     Usama Sikandar      2.56  pending
25      Rayan Hussain      2.28       C+
26     Muhammad Awais      1.61        -
27       Hamza Sajjad      2.13       C-
28          Arsam Ali      3.10       C+
29    Muhammad Tayyab      2.52  pending
30          Aamir Ali      1.25        -
31         Hamid Khan      1.56        -
32     Muhammad Abbas      2.05  pending
33          Ali Irfan      2.15  pending
34        Maryam Amin      2.05       C+
35       Sohail Ahmad      2.43  pending
36  Muhammad Abdullah      1.97        -
37      Mehtab Hashmi      1.34  pending
38     Ghulam Murtaza      2.07        D
39        Bilal Ahmad      3.29       B-
40            Saif Ur      2.73  pending
41             Raqeeb      3.51        A
42          Ahmad Jan      2.32        B
43          Asaf Khan      3.34       B+
44       Talha Zaheer      0.00  pending

what will add_suffix do ?

### reversing rows in data frame

In [9]:
print(df_ai.iloc[::-1])  # Reverses the order of rows , not saving this time just viewing

             pai_name  pai_cgpa  pai_oop
44       Talha Zaheer      0.00  pending
43          Asaf Khan      3.34       B+
42          Ahmad Jan      2.32        B
41             Raqeeb      3.51        A
40            Saif Ur      2.73  pending
39        Bilal Ahmad      3.29       B-
38     Ghulam Murtaza      2.07        D
37      Mehtab Hashmi      1.34  pending
36  Muhammad Abdullah      1.97        -
35       Sohail Ahmad      2.43  pending
34        Maryam Amin      2.05       C+
33          Ali Irfan      2.15  pending
32     Muhammad Abbas      2.05  pending
31         Hamid Khan      1.56        -
30          Aamir Ali      1.25        -
29    Muhammad Tayyab      2.52  pending
28          Arsam Ali      3.10       C+
27       Hamza Sajjad      2.13       C-
26     Muhammad Awais      1.61        -
25      Rayan Hussain      2.28       C+
24     Usama Sikandar      2.56  pending
23          Mujeeb Ur      2.86  pending
22      Jibran Khalil      2.52        A
21         Naeem Khan      2.74       B-
20        Mohid Zahid      1.54        -
19     Ismail Mohmand      3.44       A+
18       Shaheer Khan      2.31  pending
17      Haider Sheikh      1.20        -
16           Eman Ali      2.64  pending
15        Fatima Khan      3.43       A-
14        Daniyal Ali      1.60        -
13         Sayil Raza      1.91       D+
12        Yawar Lodhi      1.94        C
11       Fatiqa Munir      2.08  pending
10     Muhammad Osama      1.29        -
9        Muskan Nasir      2.33  pending
8       Umama Taimoor      3.51  pending
7         Hassan Shah      2.44       B-
6        Hussain Shah      2.38       B-
5         Shoaib Khan      2.62  pending
4     Munazzah Fatima      2.95  pending
3     Muhammad Haseeb      3.42       A-
2        Faakhir Abid      2.99       A-
1        Nashwa Rahim      3.46        A
0       Ahmed Lashari      3.10        A

<span style="color:red;font-family:Lucida Handwriting">how can we reverse and also change index to zero ... ? </span>

### changing column order only for display

In [10]:
print(df_ai[['pai_cgpa','pai_oop','pai_name']])

    pai_cgpa  pai_oop           pai_name
0       3.10        A      Ahmed Lashari
1       3.46        A       Nashwa Rahim
2       2.99       A-       Faakhir Abid
3       3.42       A-    Muhammad Haseeb
4       2.95  pending    Munazzah Fatima
5       2.62  pending        Shoaib Khan
6       2.38       B-       Hussain Shah
7       2.44       B-        Hassan Shah
8       3.51  pending      Umama Taimoor
9       2.33  pending       Muskan Nasir
10      1.29        -     Muhammad Osama
11      2.08  pending       Fatiqa Munir
12      1.94        C        Yawar Lodhi
13      1.91       D+         Sayil Raza
14      1.60        -        Daniyal Ali
15      3.43       A-        Fatima Khan
16      2.64  pending           Eman Ali
17      1.20        -      Haider Sheikh
18      2.31  pending       Shaheer Khan
19      3.44       A+     Ismail Mohmand
20      1.54        -        Mohid Zahid
21      2.74       B-         Naeem Khan
22      2.52        A      Jibran Khalil
23      2.86  pending          Mujeeb Ur
24      2.56  pending     Usama Sikandar
25      2.28       C+      Rayan Hussain
26      1.61        -     Muhammad Awais
27      2.13       C-       Hamza Sajjad
28      3.10       C+          Arsam Ali
29      2.52  pending    Muhammad Tayyab
30      1.25        -          Aamir Ali
31      1.56        -         Hamid Khan
32      2.05  pending     Muhammad Abbas
33      2.15  pending          Ali Irfan
34      2.05       C+        Maryam Amin
35      2.43  pending       Sohail Ahmad
36      1.97        -  Muhammad Abdullah
37      1.34  pending      Mehtab Hashmi
38      2.07        D     Ghulam Murtaza
39      3.29       B-        Bilal Ahmad
40      2.73  pending            Saif Ur
41      3.51        A             Raqeeb
42      2.32        B          Ahmad Jan
43      3.34       B+          Asaf Khan
44      0.00  pending       Talha Zaheer

### chaging column order actually

In [11]:
# Reverse using iloc
df_reversed_iloc = df_ai.iloc[:, ::-1]
print(df_reversed_iloc)

    pai_oop  pai_cgpa           pai_name
0         A      3.10      Ahmed Lashari
1         A      3.46       Nashwa Rahim
2        A-      2.99       Faakhir Abid
3        A-      3.42    Muhammad Haseeb
4   pending      2.95    Munazzah Fatima
5   pending      2.62        Shoaib Khan
6        B-      2.38       Hussain Shah
7        B-      2.44        Hassan Shah
8   pending      3.51      Umama Taimoor
9   pending      2.33       Muskan Nasir
10        -      1.29     Muhammad Osama
11  pending      2.08       Fatiqa Munir
12        C      1.94        Yawar Lodhi
13       D+      1.91         Sayil Raza
14        -      1.60        Daniyal Ali
15       A-      3.43        Fatima Khan
16  pending      2.64           Eman Ali
17        -      1.20      Haider Sheikh
18  pending      2.31       Shaheer Khan
19       A+      3.44     Ismail Mohmand
20        -      1.54        Mohid Zahid
21       B-      2.74         Naeem Khan
22        A      2.52      Jibran Khalil
23  pending      2.86          Mujeeb Ur
24  pending      2.56     Usama Sikandar
25       C+      2.28      Rayan Hussain
26        -      1.61     Muhammad Awais
27       C-      2.13       Hamza Sajjad
28       C+      3.10          Arsam Ali
29  pending      2.52    Muhammad Tayyab
30        -      1.25          Aamir Ali
31        -      1.56         Hamid Khan
32  pending      2.05     Muhammad Abbas
33  pending      2.15          Ali Irfan
34       C+      2.05        Maryam Amin
35  pending      2.43       Sohail Ahmad
36        -      1.97  Muhammad Abdullah
37  pending      1.34      Mehtab Hashmi
38        D      2.07     Ghulam Murtaza
39       B-      3.29        Bilal Ahmad
40  pending      2.73            Saif Ur
41        A      3.51             Raqeeb
42        B      2.32          Ahmad Jan
43       B+      3.34          Asaf Khan
44  pending      0.00       Talha Zaheer

### display only headings of a data frame

In [12]:
print(df_ai.columns)  # not intended output

Index(['pai_name', 'pai_cgpa', 'pai_oop'], dtype='object')

In [13]:
print(pd.Series(df_ai.columns).to_string())

0    pai_name
1    pai_cgpa
2     pai_oop

In [14]:
print(pd.Series(df_ai.columns).to_string(index=False))

pai_name
pai_cgpa
 pai_oop

In [15]:
print(pd.Series(df_ai.columns).to_string(index=True),sep=',')

0    pai_name
1    pai_cgpa
2     pai_oop

#in above code we didnt got what we wanted ðŸ˜¼ , figure out why ðŸ™â€â™€ï¸

In [16]:
print(', '.join(df_ai.columns))

pai_name, pai_cgpa, pai_oop

## SELECT COLUMNS BY TYPE

In [17]:
print(df_ai.select_dtypes(include='number'))

    pai_cgpa
0       3.10
1       3.46
2       2.99
3       3.42
4       2.95
5       2.62
6       2.38
7       2.44
8       3.51
9       2.33
10      1.29
11      2.08
12      1.94
13      1.91
14      1.60
15      3.43
16      2.64
17      1.20
18      2.31
19      3.44
20      1.54
21      2.74
22      2.52
23      2.86
24      2.56
25      2.28
26      1.61
27      2.13
28      3.10
29      2.52
30      1.25
31      1.56
32      2.05
33      2.15
34      2.05
35      2.43
36      1.97
37      1.34
38      2.07
39      3.29
40      2.73
41      3.51
42      2.32
43      3.34
44      0.00

In [18]:
print(df_ai.select_dtypes(include='int'))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [19]:
print(df_ai.select_dtypes(exclude='number'))

             pai_name  pai_oop
0       Ahmed Lashari        A
1        Nashwa Rahim        A
2        Faakhir Abid       A-
3     Muhammad Haseeb       A-
4     Munazzah Fatima  pending
5         Shoaib Khan  pending
6        Hussain Shah       B-
7         Hassan Shah       B-
8       Umama Taimoor  pending
9        Muskan Nasir  pending
10     Muhammad Osama        -
11       Fatiqa Munir  pending
12        Yawar Lodhi        C
13         Sayil Raza       D+
14        Daniyal Ali        -
15        Fatima Khan       A-
16           Eman Ali  pending
17      Haider Sheikh        -
18       Shaheer Khan  pending
19     Ismail Mohmand       A+
20        Mohid Zahid        -
21         Naeem Khan       B-
22      Jibran Khalil        A
23          Mujeeb Ur  pending
24     Usama Sikandar  pending
25      Rayan Hussain       C+
26     Muhammad Awais        -
27       Hamza Sajjad       C-
28          Arsam Ali       C+
29    Muhammad Tayyab  pending
30          Aamir Ali        -
31         Hamid Khan        -
32     Muhammad Abbas  pending
33          Ali Irfan  pending
34        Maryam Amin       C+
35       Sohail Ahmad  pending
36  Muhammad Abdullah        -
37      Mehtab Hashmi  pending
38     Ghulam Murtaza        D
39        Bilal Ahmad       B-
40            Saif Ur  pending
41             Raqeeb        A
42          Ahmad Jan        B
43          Asaf Khan       B+
44       Talha Zaheer  pending

In [20]:
df_ai.select_dtypes(include='object')

             pai_name  pai_oop
0       Ahmed Lashari        A
1        Nashwa Rahim        A
2        Faakhir Abid       A-
3     Muhammad Haseeb       A-
4     Munazzah Fatima  pending
5         Shoaib Khan  pending
6        Hussain Shah       B-
7         Hassan Shah       B-
8       Umama Taimoor  pending
9        Muskan Nasir  pending
10     Muhammad Osama        -
11       Fatiqa Munir  pending
12        Yawar Lodhi        C
13         Sayil Raza       D+
14        Daniyal Ali        -
15        Fatima Khan       A-
16           Eman Ali  pending
17      Haider Sheikh        -
18       Shaheer Khan  pending
19     Ismail Mohmand       A+
20        Mohid Zahid        -
21         Naeem Khan       B-
22      Jibran Khalil        A
23          Mujeeb Ur  pending
24     Usama Sikandar  pending
25      Rayan Hussain       C+
26     Muhammad Awais        -
27       Hamza Sajjad       C-
28          Arsam Ali       C+
29    Muhammad Tayyab  pending
30          Aamir Ali        -
31         Hamid Khan        -
32     Muhammad Abbas  pending
33          Ali Irfan  pending
34        Maryam Amin       C+
35       Sohail Ahmad  pending
36  Muhammad Abdullah        -
37      Mehtab Hashmi  pending
38     Ghulam Murtaza        D
39        Bilal Ahmad       B-
40            Saif Ur  pending
41             Raqeeb        A
42          Ahmad Jan        B
43          Asaf Khan       B+
44       Talha Zaheer  pending

In [21]:
print(df_ai.select_dtypes(include=['int', 'float']))

    pai_cgpa
0       3.10
1       3.46
2       2.99
3       3.42
4       2.95
5       2.62
6       2.38
7       2.44
8       3.51
9       2.33
10      1.29
11      2.08
12      1.94
13      1.91
14      1.60
15      3.43
16      2.64
17      1.20
18      2.31
19      3.44
20      1.54
21      2.74
22      2.52
23      2.86
24      2.56
25      2.28
26      1.61
27      2.13
28      3.10
29      2.52
30      1.25
31      1.56
32      2.05
33      2.15
34      2.05
35      2.43
36      1.97
37      1.34
38      2.07
39      3.29
40      2.73
41      3.51
42      2.32
43      3.34
44      0.00

## TYPE CASTING

* to understand this lets come with a different data frame

In [22]:
new_df=pd.DataFrame({
    'Integers': np.random.randint(5,size=5),
    'Floats': np.random.uniform(1, 10, size=5),
    'Strings': np.random.randint(5,size=5),
    'More Floats': np.random.rand(5)  # Another column of random floats
})

print(new_df)

   Integers    Floats  Strings  More Floats
0         3  4.869829        4     0.923095
1         0  4.049693        3     0.396781
2         1  2.903451        2     0.671409
3         3  9.978000        3     0.855655
4         4  6.982027        3     0.401307

 lets check types

In [23]:
print(new_df.dtypes)

Integers         int32
Floats         float64
Strings          int32
More Floats    float64
dtype: object

so the name is string but in nature its not string

In [24]:
new_df['Strings']=new_df['Strings'].apply(lambda x: f"'{x}'")
print(new_df)

   Integers    Floats Strings  More Floats
0         3  4.869829     '4'     0.923095
1         0  4.049693     '3'     0.396781
2         1  2.903451     '2'     0.671409
3         3  9.978000     '3'     0.855655
4         4  6.982027     '3'     0.401307

## now back to type casting

In [25]:
# lets check type again

print(new_df.dtypes)

Integers         int32
Floats         float64
Strings         object
More Floats    float64
dtype: object

In [26]:
new_df['Strings'] = new_df['Strings'].str.replace("'", "")
new_df['Strings']=new_df['Strings'].astype(int)

print(new_df.dtypes)
print(new_df)

Integers         int32
Floats         float64
Strings          int32
More Floats    float64
dtype: object
   Integers    Floats  Strings  More Floats
0         3  4.869829        4     0.923095
1         0  4.049693        3     0.396781
2         1  2.903451        2     0.671409
3         3  9.978000        3     0.855655
4         4  6.982027        3     0.401307

## extracting random sample out of large data frame

for this example lets go back to the world population data that we got from online csv earlier

In [ ]:
df_csv = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv')

print(df_csv.shape)

In [ ]:
# Sample 1% of the rows from the DataFrame
one_percent_df_csv = df_csv.sample(frac=0.01)
print(one_percent_df_csv)

doing it for columns

In [ ]:
# Sample 50% of the columns randomly
fifty_percent_columns_df_csv = df_csv.sample(frac=0.5, axis=1).head()
print(fifty_percent_columns_df_csv)
# AXIS OF NUMPY VS PANDAS .....................

## SAVING TO DIFFERENT FILES , EXPORTING

In [186]:
#to csv
df_ai.to_csv('aap_ka_data_csv_main.csv')

#to excel
df_ai.to_excel('aap_ka_data_excel_main.xlsx',engine='openpyxl')

#to json
df_ai.to_json('aap_ka_data_json_main.json')

#to html
df_ai.to_html('aap_ka_data_html_main.html')

#data frame to pdf , different ways to do it ,
#  we may have home task on assignment on this

#to sql
#to pickle
#to Parquet
#to Feather
#to ORC
#to XML
#to SAS
#to Stata
#to Text
#to XLSX
#to XLS
#to JSON
#to HTML
#to SQL
#to Pickle
#to Parquet
#to Feather
#to ORC
#to XML
#to Text

## getting rid of columns or rows in data frame

In [ ]:
import pandas as pd

# Create a dictionary with emotional data
emotions_data = {
    'Name': ['Aisha', 'Fatima', 'Zainab', 'Amir', 'Omar', 
             'Ali', 'Hassan', 'Layla', 'Sara', 'Bilal'],
    'Happiness': [8, 6, 7, 5, 9, 4, 6, 8, 5, 7],
    'Sadness': [2, 4, 3, 5, 1, 6, 4, 2, 5, 3],
    'Anger': [1, 3, 2, 4, 2, 5, 3, 1, 2, 4],
    'Fear': [3, 5, 4, 2, 6, 3, 4, 5, 2, 3],
    'Surprise': [6, 8, 7, 5, 9, 4, 6, 7, 8, 5],
    'Disgust': [2, 1, 3, 4, 2, 3, 1, 2, 4, 3],
    'Love': [9, 7, 8, 6, 10, 5, 7, 9, 6, 8]
}

# Create a DataFrame from the dictionary
emotions_df = pd.DataFrame(emotions_data)

# Display the DataFrame
print(emotions_df)

### get rid of column

In [ ]:
emotions_df.drop('Disgust', axis=1, inplace=True) # what if we dont specify inplace = true 
print(emotions_df)

# 21 octuber 2024

### get rid of row

In [ ]:
new_em = emotions_df.drop(7)
print(new_em)

droping range of rows

In [ ]:
# Drop rows from index 0 to 2 (exclusive)
new_em.drop(new_em.index[0:2], inplace=True)
print(new_em)

### reseting index as it is out of order

In [ ]:
new_em.reset_index(drop=True, inplace=True)
# drop=True ?
print(new_em)

## joining data frames

The append() method in pandas was traditionally used to add rows from one DataFrame to another. However, it has been deprecated since version 1.4.0, and users are encouraged to use concat() instead for better performance and flexibility.

In [ ]:
#first creating 3 data frames 

# DataFrame 1: Clothing Items
data1 = {
    'ItemID': [1, 2, 3],
    'ItemName': ['Abaya', 'Hijab', 'Jilbab'],
    'DesignerID': [101, 102, 101]
}

df_cloth1 = pd.DataFrame(data1)

# DataFrame 2: Designers
data2 = {
    'DesignerID': [101, 102],
    'DesignerName': ['Designer A', 'Designer B']
}

df_cloth2 = pd.DataFrame(data2)

# DataFrame 3: Clothing Items
data3 = {
    'ItemID': [4, 5],
    'ItemName': ['Kaftan', 'Tunic'],
    'DesignerID': [103, 104]
}

df_cloth3 = pd.DataFrame(data3)


print("DataFrame clothes 1:\n", df_cloth1)
print("\nDataFrame clothes 2:\n", df_cloth2)
print("\nDataFrame clothes 3:\n", df_cloth3)

### using merge

In [ ]:
# Merge on DesignerID , merging based on a common column
merged_df = df_cloth1.merge(df_cloth2, on='DesignerID')
print("\nMerged DataFrame:\n", merged_df)

what if multiple common columns using merge, # home task

### vertically stacking data frames

In [ ]:
# Concatenate both DataFrames vertically
concat_df = pd.concat([df_cloth1, df_cloth3], ignore_index=True)
print("\nConcatenated DataFrame:\n", concat_df)

In [ ]:
# Concatenate both DataFrames horizontal
concat_df2 = pd.concat([df_cloth1, df_cloth3], axis=1)
print("\nConcatenated DataFrame:\n", concat_df2)

above is just garbage

In [ ]:
# Concatenate with keys to create a MultiIndex
concat_multiindex = pd.concat([df_cloth1, df_cloth3], keys=['Modest_Clothing', 'Medieval_Clothing'])
print("\nConcatenated DataFrame with MultiIndex:\n", concat_multiindex)
# can we do multiindexing in single data frame ?

<span style="border:2px dashed red; border-radius:15px; font-family: 'Bradley Hand', cursive;background-color:white;color:red;font-size:200%">What could be the use case for above example ?ðŸŒŒ</span>

## Filtering / Searching Data in Data Frame

In [27]:
print(df_ai)

             pai_name  pai_cgpa  pai_oop
0       Ahmed Lashari      3.10        A
1        Nashwa Rahim      3.46        A
2        Faakhir Abid      2.99       A-
3     Muhammad Haseeb      3.42       A-
4     Munazzah Fatima      2.95  pending
5         Shoaib Khan      2.62  pending
6        Hussain Shah      2.38       B-
7         Hassan Shah      2.44       B-
8       Umama Taimoor      3.51  pending
9        Muskan Nasir      2.33  pending
10     Muhammad Osama      1.29        -
11       Fatiqa Munir      2.08  pending
12        Yawar Lodhi      1.94        C
13         Sayil Raza      1.91       D+
14        Daniyal Ali      1.60        -
15        Fatima Khan      3.43       A-
16           Eman Ali      2.64  pending
17      Haider Sheikh      1.20        -
18       Shaheer Khan      2.31  pending
19     Ismail Mohmand      3.44       A+
20        Mohid Zahid      1.54        -
21         Naeem Khan      2.74       B-
22      Jibran Khalil      2.52        A
23          Mujeeb Ur      2.86  pending
24     Usama Sikandar      2.56  pending
25      Rayan Hussain      2.28       C+
26     Muhammad Awais      1.61        -
27       Hamza Sajjad      2.13       C-
28          Arsam Ali      3.10       C+
29    Muhammad Tayyab      2.52  pending
30          Aamir Ali      1.25        -
31         Hamid Khan      1.56        -
32     Muhammad Abbas      2.05  pending
33          Ali Irfan      2.15  pending
34        Maryam Amin      2.05       C+
35       Sohail Ahmad      2.43  pending
36  Muhammad Abdullah      1.97        -
37      Mehtab Hashmi      1.34  pending
38     Ghulam Murtaza      2.07        D
39        Bilal Ahmad      3.29       B-
40            Saif Ur      2.73  pending
41             Raqeeb      3.51        A
42          Ahmad Jan      2.32        B
43          Asaf Khan      3.34       B+
44       Talha Zaheer      0.00  pending

### we are interested to get unique gpa values

In [ ]:
print(df_ai.pai_cgpa.unique())

getting count of unique values

In [ ]:
print(df_ai.pai_cgpa.nunique())

## checking if it exists in a column

In [ ]:
print(df_ai['pai_name']=='Ahmed Lashari')

In [ ]:
#If it exists show me record
print(df_ai.query("pai_name == 'Nashwa Rahim'") )

In [ ]:
# show records of students that contain letter r
print(df_ai.query("pai_name.str.contains('r', case=False)"))

In [28]:
# getting records of studetns who name contains letter r and have cgpa less than 2
mytemp = df_ai.pai_name.str.contains('r', case=False) & (df_ai.pai_cgpa <2)
#print(mytemp)  it will return boolean mask
print(df_ai[mytemp])

         pai_name  pai_cgpa  pai_oop
12    Yawar Lodhi      1.94        C
13     Sayil Raza      1.91       D+
17  Haider Sheikh      1.20        -
30      Aamir Ali      1.25        -
44   Talha Zaheer      0.00  pending

In [29]:
#tell me names of students whose gpa is greater than 3.5 or less than 2.5

# getting records of studetns who name contains letter r and have cgpa less than 2
mytemp2 = (df_ai.pai_cgpa <2.5) | (df_ai.pai_cgpa >3.5)
#print(mytemp)  it will return boolean mask
print(df_ai[mytemp2])

             pai_name  pai_cgpa  pai_oop
6        Hussain Shah      2.38       B-
7         Hassan Shah      2.44       B-
8       Umama Taimoor      3.51  pending
9        Muskan Nasir      2.33  pending
10     Muhammad Osama      1.29        -
11       Fatiqa Munir      2.08  pending
12        Yawar Lodhi      1.94        C
13         Sayil Raza      1.91       D+
14        Daniyal Ali      1.60        -
17      Haider Sheikh      1.20        -
18       Shaheer Khan      2.31  pending
20        Mohid Zahid      1.54        -
25      Rayan Hussain      2.28       C+
26     Muhammad Awais      1.61        -
27       Hamza Sajjad      2.13       C-
30          Aamir Ali      1.25        -
31         Hamid Khan      1.56        -
32     Muhammad Abbas      2.05  pending
33          Ali Irfan      2.15  pending
34        Maryam Amin      2.05       C+
35       Sohail Ahmad      2.43  pending
36  Muhammad Abdullah      1.97        -
37      Mehtab Hashmi      1.34  pending
38     Ghulam Murtaza      2.07        D
41             Raqeeb      3.51        A
42          Ahmad Jan      2.32        B
44       Talha Zaheer      0.00  pending

In [ ]:
print(df_ai.pai_oop.value_counts())

by looking at above out , tell me what is going on here ?

In [ ]:
print(df_ai.pai_oop.value_counts().nsmallest(4))

In [ ]:
print(df_ai.pai_oop.value_counts().nlargest(4))

<span style="color:aqua">home task :how    isin        works in data frame</span>

### breaking your names into seperate columns as first name and last name

In [36]:
#   'pai_name' column into 'First Name' and 'Last_Name'
df_ai[['First_Name', 'Last Name']] = df_ai['pai_name'].str.split(' ',expand=True)


print(df_ai)

             pai_name  pai_cgpa  pai_oop First_Name Last Name
0       Ahmed Lashari      3.10        A      Ahmed   Lashari
1        Nashwa Rahim      3.46        A     Nashwa     Rahim
2        Faakhir Abid      2.99       A-    Faakhir      Abid
3     Muhammad Haseeb      3.42       A-   Muhammad    Haseeb
4     Munazzah Fatima      2.95  pending   Munazzah    Fatima
5         Shoaib Khan      2.62  pending     Shoaib      Khan
6        Hussain Shah      2.38       B-    Hussain      Shah
7         Hassan Shah      2.44       B-     Hassan      Shah
8       Umama Taimoor      3.51  pending      Umama   Taimoor
9        Muskan Nasir      2.33  pending     Muskan     Nasir
10     Muhammad Osama      1.29        -   Muhammad     Osama
11       Fatiqa Munir      2.08  pending     Fatiqa     Munir
12        Yawar Lodhi      1.94        C      Yawar     Lodhi
13         Sayil Raza      1.91       D+      Sayil      Raza
14        Daniyal Ali      1.60        -    Daniyal       Ali
15        Fatima Khan      3.43       A-     Fatima      Khan
16           Eman Ali      2.64  pending       Eman       Ali
17      Haider Sheikh      1.20        -     Haider    Sheikh
18       Shaheer Khan      2.31  pending    Shaheer      Khan
19     Ismail Mohmand      3.44       A+     Ismail   Mohmand
20        Mohid Zahid      1.54        -      Mohid     Zahid
21         Naeem Khan      2.74       B-      Naeem      Khan
22      Jibran Khalil      2.52        A     Jibran    Khalil
23          Mujeeb Ur      2.86  pending     Mujeeb        Ur
24     Usama Sikandar      2.56  pending      Usama  Sikandar
25      Rayan Hussain      2.28       C+      Rayan   Hussain
26     Muhammad Awais      1.61        -   Muhammad     Awais
27       Hamza Sajjad      2.13       C-      Hamza    Sajjad
28          Arsam Ali      3.10       C+      Arsam       Ali
29    Muhammad Tayyab      2.52  pending   Muhammad    Tayyab
30          Aamir Ali      1.25        -      Aamir       Ali
31         Hamid Khan      1.56        -      Hamid      Khan
32     Muhammad Abbas      2.05  pending   Muhammad     Abbas
33          Ali Irfan      2.15  pending        Ali     Irfan
34        Maryam Amin      2.05       C+     Maryam      Amin
35       Sohail Ahmad      2.43  pending     Sohail     Ahmad
36  Muhammad Abdullah      1.97        -   Muhammad  Abdullah
37      Mehtab Hashmi      1.34  pending     Mehtab    Hashmi
38     Ghulam Murtaza      2.07        D     Ghulam   Murtaza
39        Bilal Ahmad      3.29       B-      Bilal     Ahmad
40            Saif Ur      2.73  pending       Saif        Ur
41             Raqeeb      3.51        A     Raqeeb      None
42          Ahmad Jan      2.32        B      Ahmad       Jan
43          Asaf Khan      3.34       B+       Asaf      Khan
44       Talha Zaheer      0.00  pending      Talha    Zaheer

## randomly assign values from a list to rows in data frame

In [37]:

cities=['Peshawar','Lahore','Karachi','Quetta']

df_ai['City'] = np.random.choice(cities, len(df_ai))

print(df_ai)

             pai_name  pai_cgpa  pai_oop First_Name Last Name      City
0       Ahmed Lashari      3.10        A      Ahmed   Lashari    Quetta
1        Nashwa Rahim      3.46        A     Nashwa     Rahim    Quetta
2        Faakhir Abid      2.99       A-    Faakhir      Abid  Peshawar
3     Muhammad Haseeb      3.42       A-   Muhammad    Haseeb  Peshawar
4     Munazzah Fatima      2.95  pending   Munazzah    Fatima    Quetta
5         Shoaib Khan      2.62  pending     Shoaib      Khan    Lahore
6        Hussain Shah      2.38       B-    Hussain      Shah    Lahore
7         Hassan Shah      2.44       B-     Hassan      Shah    Lahore
8       Umama Taimoor      3.51  pending      Umama   Taimoor    Lahore
9        Muskan Nasir      2.33  pending     Muskan     Nasir   Karachi
10     Muhammad Osama      1.29        -   Muhammad     Osama    Lahore
11       Fatiqa Munir      2.08  pending     Fatiqa     Munir    Lahore
12        Yawar Lodhi      1.94        C      Yawar     Lodhi    Lahore
13         Sayil Raza      1.91       D+      Sayil      Raza   Karachi
14        Daniyal Ali      1.60        -    Daniyal       Ali    Lahore
15        Fatima Khan      3.43       A-     Fatima      Khan    Lahore
16           Eman Ali      2.64  pending       Eman       Ali   Karachi
17      Haider Sheikh      1.20        -     Haider    Sheikh    Lahore
18       Shaheer Khan      2.31  pending    Shaheer      Khan  Peshawar
19     Ismail Mohmand      3.44       A+     Ismail   Mohmand   Karachi
20        Mohid Zahid      1.54        -      Mohid     Zahid    Lahore
21         Naeem Khan      2.74       B-      Naeem      Khan    Lahore
22      Jibran Khalil      2.52        A     Jibran    Khalil  Peshawar
23          Mujeeb Ur      2.86  pending     Mujeeb        Ur    Lahore
24     Usama Sikandar      2.56  pending      Usama  Sikandar   Karachi
25      Rayan Hussain      2.28       C+      Rayan   Hussain    Quetta
26     Muhammad Awais      1.61        -   Muhammad     Awais    Lahore
27       Hamza Sajjad      2.13       C-      Hamza    Sajjad  Peshawar
28          Arsam Ali      3.10       C+      Arsam       Ali    Quetta
29    Muhammad Tayyab      2.52  pending   Muhammad    Tayyab   Karachi
30          Aamir Ali      1.25        -      Aamir       Ali  Peshawar
31         Hamid Khan      1.56        -      Hamid      Khan    Quetta
32     Muhammad Abbas      2.05  pending   Muhammad     Abbas    Lahore
33          Ali Irfan      2.15  pending        Ali     Irfan    Quetta
34        Maryam Amin      2.05       C+     Maryam      Amin   Karachi
35       Sohail Ahmad      2.43  pending     Sohail     Ahmad    Lahore
36  Muhammad Abdullah      1.97        -   Muhammad  Abdullah    Quetta
37      Mehtab Hashmi      1.34  pending     Mehtab    Hashmi   Karachi
38     Ghulam Murtaza      2.07        D     Ghulam   Murtaza   Karachi
39        Bilal Ahmad      3.29       B-      Bilal     Ahmad  Peshawar
40            Saif Ur      2.73  pending       Saif        Ur    Quetta
41             Raqeeb      3.51        A     Raqeeb      None    Quetta
42          Ahmad Jan      2.32        B      Ahmad       Jan   Karachi
43          Asaf Khan      3.34       B+       Asaf      Khan  Peshawar
44       Talha Zaheer      0.00  pending      Talha    Zaheer  Peshawar

### get records of people of Karachi

In [38]:
df_ai[df_ai.City=='Karachi']

           pai_name  pai_cgpa  pai_oop First_Name Last Name     City
9      Muskan Nasir      2.33  pending     Muskan     Nasir  Karachi
13       Sayil Raza      1.91       D+      Sayil      Raza  Karachi
16         Eman Ali      2.64  pending       Eman       Ali  Karachi
19   Ismail Mohmand      3.44       A+     Ismail   Mohmand  Karachi
24   Usama Sikandar      2.56  pending      Usama  Sikandar  Karachi
29  Muhammad Tayyab      2.52  pending   Muhammad    Tayyab  Karachi
34      Maryam Amin      2.05       C+     Maryam      Amin  Karachi
37    Mehtab Hashmi      1.34  pending     Mehtab    Hashmi  Karachi
38   Ghulam Murtaza      2.07        D     Ghulam   Murtaza  Karachi
42        Ahmad Jan      2.32        B      Ahmad       Jan  Karachi

In [ ]:
df_ai.groupby(['City','pai_oop']).count()

In [ ]:
# how many cities are there
len(df_ai.groupby('City'))

## show me records whose gpa is less than average gpa of class

In [ ]:
df_ai[df_ai.pai_cgpa < df_ai.pai_cgpa.mean()]

In [ ]:
# now who have greater than average of class
df_ai[df_ai.pai_cgpa > df_ai.pai_cgpa.mean()]

### show only names of students whose gpa is less than average of class

In [ ]:
df_ai[df_ai.pai_cgpa < df_ai.pai_cgpa.mean()]['First_Name']

group by city and show their average gpa

In [ ]:
df_ai.groupby('City').pai_cgpa.mean()

## now lets replace numbers in emotional data frame with some textual values

In [ ]:
emotions_df

In [ ]:


# Define the bins and labels
bins = [0, 3, 6, 9, 10]  # Define the edges of the bins
labels = ['low', 'mid', 'above mid', 'high']  # Define the corresponding labels

# Use pd.cut to create a new column with labels based on the defined ranges
emotions_df['Sadness_Category'] = pd.cut(emotions_df['Sadness'], bins=bins, labels=labels, right=True)

emotions_df

pd.cut: This function is used to categorize continuous numerical data into discrete bins (or ranges).<br>
bins=bins: The bins parameter defines the edges of the ranges you want to create. For example, if bins = [0, 3, 6, 10], it creates intervals like:<br>
(0, 3]<br>
(3, 6]<br>
(6, 10]<br>
labels=labels: This parameter assigns names to each bin. For example, if labels = ['low', 'medium', 'high'], then:<br>
Values in (0, 3] will be labeled as "low".<br>
Values in (3, 6] will be labeled as "medium".<br>
Values in (6, 10] will be labeled as "high".<br>
right=True: This means that the right edge of each bin is included in that bin. So, if a value is exactly equal to the right edge (like 3), it will be categorized into that bin.


 changing textual data to numerical

In [ ]:
# Sample DataFrame in Urdu
ddata = {
    'Ù†Ø§Ù…': ['Ø¹Ø§Ø¦Ø´Û', 'ÙØ§Ø·Ù…Û', 'Ø²ÛŒÙ†Ø¨', 'Ø§Ù…ÛŒØ±', 'Ø¹Ù…Ø±', 'Ø¹Ù„ÛŒ', 'Ø­Ø³Ù†', 'Ù„ÛŒÙ„ÛŒÙ°', 'Ø³Ø§Ø±Û', 'Ø¨Ù„Ø§Ù„'],
    'Ø§Ø­Ø³Ø§Ø³Ø§Øª': ['Ù…Ø«Ø¨Øª', 'Ù…Ù†ÙÛŒ', 'Ù†ÛŒÙˆÙ¹Ø±Ù„', 'Ù…Ø«Ø¨Øª', 'Ù…Ø«Ø¨Øª', 'Ù†ÛŒÙˆÙ¹Ø±Ù„', 'Ù…Ø«Ø¨Øª', 'Ù…Ù†ÙÛŒ', 'Ù…Ø«Ø¨Øª', 'Ù†ÛŒÙˆÙ¹Ø±Ù„']
}


urdu_emotions_df = pd.DataFrame(ddata)
urdu_emotions_df

In [ ]:
urdu_emotions_df['Ø§Ø­Ø³Ø§Ø³Ø§Øª'] = urdu_emotions_df['Ø§Ø­Ø³Ø§Ø³Ø§Øª'].replace({'Ù…Ø«Ø¨Øª': 1, 'Ù†ÛŒÙˆÙ¹Ø±Ù„': 0, 'Ù…Ù†ÙÛŒ': -1})
urdu_emotions_df

using another way

In [ ]:
your_data = {
    'Name': [
        'Ahmed Lashari', 'Nashwa Rahim', 'Faakhir Abid', 'Muhammad Haseeb',
        'Munazzah Fatima', 'Shoaib Khan', 'Hussain Shah', 'Hassan Shah',
        'Umama Taimoor', 'Muskan Nasir', 'Muhammad Osama', 'Fatiqa Munir',
        'Yawar Lodhi', 'Sayil Raza', 'Daniyal Ali', 'Fatima Khan',
        'Eman Ali', 'Haider Sheikh', 'Shaheer Khan', 'Ismail Mohmand',
        'Mohid Zahid', 'Naeem Khan', 'Jibran Khalil', 'Mujeeb Ur',
        'Usama Sikandar', 'Rayan Hussain', 'Muhammad Awais', 'Hamza Sajjad',
        'Arsam Ali', 'Muhammad Tayyab', 'Aamir Ali', 'Hamid Khan',
        'Muhammad Abbas', 'Ali Irfan', 'Maryam Amin', 'Sohail Ahmad',
        'Muhammad Abdullah', 'Mehtab Hashmi', 'Ghulam Murtaza',
        'Bilal Ahmad', 'Saif Ur', 'Raqeeb', 'Ahmad Jan',
        'Asaf Khan', 'Talha Zaheer'
    ],
    'Gender': [
        'Male', 'Female', 'Male', 'Male',
        'Female', 'Male', 'Male', 'Male',
        'Female', 'Female', 'Male', 'Female',
        'Male', 'Male', 'Male', 'Female',
        'Female', 'Male', 'Male', 'Male',
        'Male', 'Male',  'Male','Male',
        'Male','Male','Male','Male',
        'Male','Male','Male','Male',
        'Male','Male','Female','Male',
        'Male','Male','Male',
        'Male','Male','Male','Male',
        'Male','Male'
    ]
}

# Creating the DataFrame
names_df = pd.DataFrame(your_data)
names_df

In [222]:
#names_df['gender_innumber']=names_df.Gender.factorize() gives error becuause 
# factorize method returns two things
names_df['gender_innumber']=names_df.Gender.factorize()[0]  # just give 0,1 values not unique categories

In [ ]:
names_df

In [ ]:
names_df.sort_values(by='Name')

## melting data frames

In [ ]:
example_data = {
    'Name': ['Cat', 'Dog', 'Rabbit'],
    'cuteness': [70, 50, 90],
    'permission': [100, 40, 70]
}
pet_df = pd.DataFrame(example_data)
pet_df

id_vars=['Name']:
This parameter specifies which column(s) should remain as identifier variables in the melted DataFrame. In this case, the "Name" column will be kept as is, while other columns will be transformed into rows.

var_name='cuteness_permission':
This parameter allows you to specify the name of the new column that will contain the names of the original columns that are being melted (unpivoted). Here, it is named "cuteness_permission".

value_name='numeric_data':
This parameter specifies the name of the new column that will contain the values from the melted columns. In this case, it is named "numeric_data".

In [ ]:
melted_df = pd.melt(pet_df, id_vars=['Name'], var_name='cuteness_permission', value_name='numeric_data')
melted_df

Purpose of Melting DataFrames<br>
Melting a DataFrame serves several important purposes:<br>
Reshaping Data: It transforms wide-format data (where multiple columns represent different variables) into long-format data (where each variable is represented in a single column). This can make it easier to analyze and visualize data.<br>
Facilitating Analysis: Long-format data is often more suitable for certain types of analysis and visualizations, especially when using libraries like seaborn or matplotlib, which prefer data in this format.<br>
Simplifying Aggregation: When data is in long format, it becomes easier to group by certain variables and perform aggregations or calculations.<br>
Improving Compatibility: Some machine learning algorithms and statistical models require data in long format for proper functioning.<br>

In [ ]:
df_try_try = pd.read_excel('ai_batch_23.xlsx')
df_try_try

## Pivot vs. Melt in Pandas
Pivot and melt are two important functions in pandas used for reshaping DataFrames, but they serve opposite purposes. Here's a detailed comparison:
1. Pivot
Purpose: The pivot() function is used to reshape data from a long format to a wide format. It transforms unique values from one column into separate columns in the resulting DataFrame.
Functionality:
Parameters:
index: Column(s) to use as the new index (row labels).
columns: Column(s) to use as the new columns (column labels).
values: Column(s) to fill in the values of the new DataFrame.
Example:
python

In [11]:

# Sample DataFrame
data2 = {
    'Date': ['2021-01-01', '2021-01-01', '2021-01-02'],
    'City': ['New York', 'Los Angeles', 'New York'],
    'Temperature': [30, 70, 32]
}
df_x = pd.DataFrame(data2)
df_x

         Date         City  Temperature
0  2021-01-01     New York           30
1  2021-01-01  Los Angeles           70
2  2021-01-02     New York           32

In [12]:
# Pivoting the DataFrame
pivoted_df = df_x.pivot(index='Date', columns='City', values='Temperature')
pivoted_df

City        Los Angeles  New York
Date
2021-01-01         70.0      30.0
2021-01-02          NaN      32.0

Melt<br>
Purpose: The melt() function is used to transform data from a wide format to a long format. It unpivots or reshapes the DataFrame so that one or more columns are identifier variables, while all other columns are transformed into row entries.
Functionality:
Parameters:
id_vars: Column(s) to keep as identifier variables.
value_vars: Column(s) to unpivot (if not specified, all columns not in id_vars will be used).
var_name: Name for the new column that will contain the former column names.
value_name: Name for the new column that will contain the values.

Feature	Pivot	Melt
Purpose	Reshape data from long to wide format	Reshape data from wide to long format
Functionality	Converts unique values into columns	Unpivots columns into rows
Parameters	Requires index, columns, and values	Requires id_vars, value_vars, var_name, and value_name
Use Case	When you want to summarize data	When you want to analyze or visualize data